.dropdown-wrap{
  display: flex;
  flex-direction: row;
  padding-top:50px;
  align-items: center;
  height:38px;
  width:100%;
}
.dropdown-title{
  font-size: 15px;
  margin:0 40px;
}
.dropdown{
  width:500px;
}
