<mat-form-field class="example-chip-list">
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let brand of brands"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(brand)"
        color="primary">
        {{brand}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="请选择品牌名称"
        #brandInput
        [formControl]="brandCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        >
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let brand of filteredbrands | async" [value]="brand">
        {{brand}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

