.container {
  margin:0 auto;
  background: none;
  height:100%;
  width:100%;
  overflow-x: hidden;
}
.button-row{
  margin-top:25px;
  margin-left:20px;
}
.button-row button{
  font-weight: 410;
}
.table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}
mat-table {
  width: 100%;
}
.loading-shade {
  display:table;
  margin:0 auto;
  padding-top:60px;
}
.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-adName{
  flex: 0 0 25%;
  display: flex;
  justify-content: center;
}
.mat-column-price,
.mat-column-spentMoney,
.mat-column-exposure,
.mat-column-clickCount,
.mat-column-clickRate{
  //max-width: 6%;
  flex: 0 0 6%;
  display: flex;
  justify-content: center;
}

.mat-column-turnedOn {
  //max-width: 10%;
  flex: 0 0 10%;
  display: flex;
  justify-content: center;
}
.listContent{
  margin-top:10px;
  margin:20px;
}
.mat-column-operation{
  flex: 0 0 7%;
  display: flex;
  justify-content: center;
}
.mat-column-createTime{
  flex: 0 0 9%;
  display: flex;
  justify-content: center;
}
.mat-column-status{
  flex: 0 0 8%;
  display: flex;
  justify-content: center;
}
.mat-column-compativeType{
  flex: 0 0 15%;
  display: flex;
  justify-content: center;
}
