<div class='wrapper'>
<div class='title'>
   <span class='title-name'>唯品会营销平台</span>
</div>
<mat-list>

    <button mat-button [routerLink]="['/']"><i class="material-icons">home</i>首页</button>

    <button mat-button [routerLink]="['/adList']"><i class="material-icons">business</i>广告管理</button>
<!--
    <mat-accordion >
        <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'36px'" [expandedHeight]="'36px'">
              广告管理
     </mat-expansion-panel-header>
        <div>
        <mat-list>
        <mat-list-item style='height:36px'>
           我的广告
        </mat-list-item >
        <mat-list-item style='height:36px'>
            新建广告
         </mat-list-item >
          </mat-list>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
-->
    <button mat-button [routerLink]="['/targets']"><i class="material-icons">assessment</i>人群管理</button>

    <button mat-button [routerLink]="['/']"><i class="material-icons">trending_up</i>数据报表</button>

 </mat-list>
</div>
