<div class='wrapper'>
<div class='title'>
   <span class='title-name'>唯品会营销平台</span>
</div>
<mat-list>

    <button mat-button [routerLink]="['/']" class="main-button"><i class="material-icons">home</i>首页</button>

    <button mat-button  (click)="collapse_ad = !collapse_ad" class="main-button"><i class="material-icons">business</i>广告管理</button>

    <button mat-button *ngIf="collapse_ad" [routerLink]="['/newAd']" class="sub-button">新建广告</button>
    <button mat-button *ngIf="collapse_ad" [routerLink]="['/adList']" class="sub-button">我的广告</button>

    <button mat-button (click)="collapse_target = !collapse_target" class="main-button"><i class="material-icons">assessment</i>人群管理</button>

    <button mat-button *ngIf="collapse_target" [routerLink]="['/newtarget']" class="sub-button">新建人群</button>
    <button mat-button *ngIf="collapse_target" [routerLink]="['/targets']" class="sub-button">我的人群</button>

    <button mat-button [routerLink]="['/']" class="main-button"><i class="material-icons">trending_up</i>数据报表</button>

 </mat-list>
</div>
