.title{
   display: flex;
   justify-content: center;
   padding-top:30px;
   color:white;
   font-size:19px;

}
mat-list{
  margin-top:50px;
  display: flex;
  flex-direction: column;
  margin-left:20px;
  margin-right:20px;
}

.material-icons{
  padding-right:8px;
  padding-bottom: 5px;
}


button{
  padding:10px;
  color:rgba(255, 255, 255, 0.747);
  font-weight: 400;
}
.wrapper{
  background: rgb(44,56,71)
}
