<div class='wrapper'>
<div class='title'>
   <span class='title-name'>唯品会营销平台</span>
</div>
<mat-list>

    <button mat-button [routerLink]="['/newad']"><i class="material-icons">home</i>首页</button>

    <button mat-button [routerLink]="['/newad']"><i class="material-icons">business</i>广告管理</button>

    <button mat-button [routerLink]="['/newtarget']"><i class="material-icons">assessment</i>人群管理</button>

    <button mat-button [routerLink]="['/newtarget']"><i class="material-icons">trending_up</i>数据报表</button>

 </mat-list>
</div>
