<div class="container">
  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner [diameter]="50"></mat-spinner>
 </div>
    <div class="button-row" *ngIf="!isLoadingResults">
      <button mat-raised-button color="primary" [routerLink]="['/target-add']">新建</button>
    </div>
    <div class="mat-elevation-z8 listContent" *ngIf="!isLoadingResults">
      <mat-table [dataSource]="data" class="table"
             matSort matSortActive="TargetNname" matSortDisableClear matSortDirection="asc">

        <!-- 人群名称 Column -->
        <ng-container matColumnDef="targetName">
          <mat-header-cell *matHeaderCellDef>人群名称</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.targetName}}</mat-cell>
        </ng-container>

        <!-- 投放平台 Column -->
        <ng-container matColumnDef="platform">
          <mat-header-cell *matHeaderCellDef>投放平台</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.platform}}</mat-cell>
        </ng-container>

        <!-- 覆盖人群数 Column -->
        <ng-container matColumnDef="peopleEstimate">
          <mat-header-cell *matHeaderCellDef>覆盖人群数</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.peopleEstimate}}</mat-cell>
        </ng-container>

        <!-- 创建时间 Column -->
        <ng-container matColumnDef="createTime">
          <mat-header-cell *matHeaderCellDef>创建时间</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.createTime | date:'yyyy-MM-dd'}}</mat-cell>
        </ng-container>

        <!-- 操作 Column -->
        <ng-container matColumnDef="operation">
            <mat-header-cell *matHeaderCellDef>操作</mat-header-cell>
            <mat-cell *matCellDef="let row"><a [routerLink]="['/targets']" style="text-decoration: none; color:black" ><button mat-button (click)="deleteTarget(row._id)" style='padding:0' (click)="$event.stopPropagation()" ><mat-icon>delete</mat-icon></button></a></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/target-details/', row._id]" style='cursor: pointer;'></mat-row>
      </mat-table>
    </div>
   <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons #paginator></mat-paginator>-->
  </div>
<!-- (click)="$event.stopPropagation()" [routerLink]="['/targets']"-->
