/* Structure */
.example-container {
  position: relative;
  margin: 20px;
  background: none;
  height:100%;
  width:100%;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

mat-table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  z-index: 999;
  display: flex;
  justify-self: center;
  margin-left:100px;
  margin-top:15px;
}

mat-spinner{
  width:20px;
  height:20px;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.mat-flat-button {
  margin: 5px;
  font-weight: 300;
}
.listContent{
  margin-top:10px;
}
.mat-column-operation{
  flex: 0 0 80px;
  display: flex;
  justify-content: center;
}
