<p>
  新建广告
</p>

<mat-form-field hintlabel="最多30个字" class='adNameInput alignside'>
    <input matInput #input="" maxlength="30" placeholder="广告名称" [formControl]="adname" required="" class='adInput'>
    <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
    <mat-error *ngIf="adname.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>

<div class='setTime'>
    <p>
        投放时间
      </p>
<mat-radio-group class='alignside' [(ngModel)]='isLongSet'>
    <mat-radio-button [value]='false'  >
       从今天开始长期
    </mat-radio-button>

    <mat-radio-button [value]='true' checked='true'>
      设置开始和结束时间
    </mat-radio-button>
</mat-radio-group>
<div class='datePickerWrap' *ngIf='isLongSet'>
<div>
    <mat-form-field class='startInput'>
      <input matInput
      [matDatepicker]="startTime"
      [min]="minDate"
      [formControl]='startDate'
      placeholder="开始日期"
      (dateChange)="startDateInput($event.value)">
      <mat-datepicker-toggle matSuffix="" [for]="startTime"></mat-datepicker-toggle>
      <mat-datepicker #startTime></mat-datepicker>

    </mat-form-field>

    <mat-checkbox class='checkbox' name='isChecked' [(ngModel)]="isChecked">从这天开始长期</mat-checkbox>
  </div>
  <div class='endDateWrap' *ngIf='!isChecked'>
      <mat-form-field class='startInput'>
        <input matInput
        [matDatepicker]="endTime"
        [min]="endMinDate"
        [formControl]='endDate'
        placeholder="结束日期"
        (dataInput)="endMinDate">
        <mat-datepicker-toggle matSuffix="" [for]="endTime"></mat-datepicker-toggle>
        <mat-datepicker #endTime ></mat-datepicker>

      </mat-form-field>

    </div>
  </div>
</div>
<button (click)="emiting()">emit</button>
