mat-table{
  font-size: 70%;
}
.mat-column-position{
  flex: 0 0 180px;
  font-size: 98%;
}
.mat-column-picSize, .mat-column-exposure, .mat-column-clickRate, .mat-column-clickCost{
  font-size: 98%;
  flex: 0 0 80px;
}
.mat-column-select{
  flex: 0 0 50px;
}
.cdk-cell-title{
  height:20px;
}
.listArea{
  width:550px;

}
.wrap{
  display: flex;
  flex-direction: row;
  height:100%;

}
.phoneArea{
  width:255px;
  margin-left: 60px;
  display: block;
  height:504px;
}
.alignSide{
  margin-left: 50px
}
.phone{
  width:255px;
  height: 504px
}
.upload-text{
  margin: 10px 0px;
}
.upLoadAlert{
  display: flex;
  flex-direction: row;
}
.alertMessage{

  height: 25px;
  font-size: 80%;
  border: 1px solid rgb(139, 75, 75);
  margin-left: 40px;
  padding: 10px 13px;
  background: rgb(243, 201, 112);
  color:rgb(75, 74, 74);
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}
