<div class="showInfoWrap">
  <div style='margin-left: 40px'>
  <h3 style='color:black;padding-bottom: 20px'>确认信息</h3>
  <p> 广告名称：   <span>{{ ad.adName }}</span></p>
  <p *ngIf = '!isEndDateSet'> 投放日期：  <span>{{ ad.startDate | date:'yyyy-MM-dd'}} - {{ ad.endDate | date:'yyyy-MM-dd'}} </span></p>
  <p *ngIf = 'isEndDateSet'> 投放日期：  <span>从 {{ ad.startDate | date:'yyyy-MM-dd'}} 开始长期 </span></p>
  <p> 投放站点：    <span>{{ ad.vipAPP }}</span></p>
  <p> 落地页类型：  <span>{{ ad.linkType }}</span></p>
  <p> 落地页链接：  <span>{{ ad.linkID }}</span></p>
  <p> 设备系统：    <span>{{ ad.device }}</span></p>
  <p> 出价方式：    <span>{{ ad.pricingType }}</span></p>
  <p> 竞价方式：    <span>{{ ad.compativeType }}</span></p>
  <p> 广告出价：    <span>{{ ad.adPrice }} 元/次点击</span></p>
  <p> 广告出价：    <span>{{ ad.adPrice }} 元/次点击</span></p>
  <p> 日限额：      <span>{{ ad.dayLimit }} 元</span></p>
  <div class='targetWrap'>
    <div><p style='margin-top:0'>选择人群：    </p></div>
    <div>
  <span class='showTargetsName' *ngFor="let target of ad.targets">{{target.targetName}}<br></span></div>
  </div>
  </div>
  <div class='phoneArea' style='position: relative;'>
      <div class='phone' style='background-image: url(/assets/img/phone.png);background-size: cover' >
        <img *ngIf='selectedAdId==1' class='adImg' src='/assets/img/首页焦点第三四帧.png' width='222px' height='387.88px' style='padding-left:17px;padding-top:48px;z-index: 1;'>
        <img *ngIf='selectedAdId==2' class='adImg' src='/assets/img/收藏顶部及物流页底部横幅.png' width='222px' height='387.88px' style='padding-left:17px;padding-top:48px;'>
        <img *ngIf='selectedAdId==3' class='adImg' src='/assets/img/个人设置页顶部轮播.png' width='222px' height='387.88px' style='padding-left:17px;padding-top:48px;'>
        <img *ngIf='selectedAdId==4' class='adImg' src='/assets/img/优惠券页顶部横幅.png' width='222px' height='387.88px' style='padding-left:17px;padding-top:48px;'>
        <img *ngIf='selectedAdId==5' class='adImg' src='/assets/img/美妆焦点第二帧.png' width='222px' height='387.88px' style='padding-left:17px;padding-top:48px;'>
        <img *ngIf='selectedAdId==6' class='adImg' src='/assets/img/美妆频道精彩活动运营位.png' width='222px' height='387.88px' style='padding-left:17px;padding-top:48px;'>
      </div>
        <img [src]='url' *ngIf='selectedAdId==1' style='width:222px; z-index: 999; margin-left: 17px;margin-top:-365px;position: absolute;'>
  </div>
  </div>

  <div class='stepButtom'>
      <button mat-raised-button matStepperPrevious>上一步</button>
      <button mat-raised-button matStepperNext color='primary' class='nextBottom' (click)='submitAd()' [routerLink]="['/adList']">提交</button>
  </div>

