<!DOCTYPE html>
<html>
  <div class='site'>

    <div *ngIf="currentUser">
  <mat-sidenav-container>
    <mat-sidenav-content style='background: rgb(44,56,71)'>
      <app-sidenav></app-sidenav>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-divider [vertical]="true"></mat-divider>

</div>

    <main>
      <header *ngIf="currentUser">
      <app-header></app-header>
      <mat-divider></mat-divider>

    </header>

    <div style='overflow: auto'>

      <router-outlet></router-outlet>
    </div>
    </main>

  </div>
</html>
