
<h3 style='color:black'>
    新建人群
  </h3>

  <h4 style='color:black'>基本信息</h4>
  <div class='one-button-row'>
    <label style='font-size: 90%;width:100px'>性别</label>
    <div class='buttons-area'>
    <button mat-stroked-button
    *ngFor = 'let button of genderButtons; let i = index'
    [ngClass]="button.selected ? 'btn-selected' : 'btn-default'"
    (click)="genderMultiSelect(i)"
    class='buttons'>
    <i *ngIf = 'button.selected'  class="material-icons selected-icon" style='margin-left:-18px'>done</i>
        {{button.name}}
    </button>
  </div>
  </div>

  <div class='one-button-row'>
      <label style='font-size: 90%;width:100px'>年龄</label>
      <div class='buttons-area'>
      <button mat-stroked-button
      *ngFor = 'let button of ageButtons; let i = index'
      [ngClass]="button.selected ? 'btn-selected' : 'btn-default'"
      (click)="ageMultiSelect(i)"
      class='buttons'
      style='padding:0px 25px;'>
          <i *ngIf = 'button.selected'  class="material-icons selected-icon" style='margin-left:-19px'>done</i>
          {{button.name}}
      </button>
    </div>
    </div>
