<div class='one-button-row'>

<div class='one-button-row'>
  <label style='font-size: 90%;width:100px'>最后浏览时间</label>
  <div class='buttons-area'>
  <button mat-stroked-button
  *ngFor = 'let button of buttons_1; let i = index'
  [ngClass]="button.selected ? 'btn-selected' : 'btn-default'"
  (click)="singleSelectButton_1(i)"
  class='buttons'
  style='padding:0px 20px;'>
      <i *ngIf = 'button.selected'  class="material-icons selected-icon" style='margin-left:-19px'>done</i>
      {{button.name}}
  </button>
</div>
</div>
</div>

<div  class='one-button-row'>

    <div class='one-button-row'>
      <label style='font-size: 90%;width:100px'>最后收藏时间</label>
      <div class='buttons-area'>
      <button mat-stroked-button
      *ngFor = 'let button of buttons_2; let i = index'
      [ngClass]="button.selected ? 'btn-selected' : 'btn-default'"
      (click)="singleSelectButton_2(i)"
      class='buttons'
      style='padding:0px 20px;'>
          <i *ngIf = 'button.selected'  class="material-icons selected-icon" style='margin-left:-19px'>done</i>
          {{button.name}}
      </button>
    </div>
    </div>
    </div>

    <div class='one-button-row'>

        <div class='one-button-row'>
          <label style='font-size: 90%;width:100px'>最后购物车放弃时间</label>
          <div class='buttons-area'>
          <button mat-stroked-button
          *ngFor = 'let button of buttons_3; let i = index'
          [ngClass]="button.selected ? 'btn-selected' : 'btn-default'"
          (click)="singleSelectButton_3(i)"
          class='buttons'
          style='padding:0px 20px;'>
              <i *ngIf = 'button.selected'  class="material-icons selected-icon" style='margin-left:-19px'>done</i>
              {{button.name}}
          </button>
        </div>
        </div>
        </div>
        <div class='one-button-row'>

            <div class='one-button-row'>
              <label style='font-size: 90%;width:100px'>最后加入购物车时间</label>
              <div class='buttons-area'>
              <button mat-stroked-button
              *ngFor = 'let button of buttons_4; let i = index'
              [ngClass]="button.selected ? 'btn-selected' : 'btn-default'"
              (click)="singleSelectButton_4(i)"
              class='buttons'
              style='padding:0px 20px;'>
                  <i *ngIf = 'button.selected'  class="material-icons selected-icon" style='margin-left:-19px'>done</i>
                  {{button.name}}
              </button>
            </div>
            </div>
            </div>
            <div class='one-button-row'>

                <div class='one-button-row'>
                  <label style='font-size: 90%;width:100px'>最后购买时间</label>
                  <div class='buttons-area'>
                  <button mat-stroked-button
                  *ngFor = 'let button of buttons_5; let i = index'
                  [ngClass]="button.selected ? 'btn-selected' : 'btn-default'"
                  (click)="singleSelectButton_5(i)"
                  class='buttons'
                  style='padding:0px 20px;'>
                      <i *ngIf = 'button.selected'  class="material-icons selected-icon" style='margin-left:-19px'>done</i>
                      {{button.name}}
                  </button>
                </div>
                </div>
                </div>
