<div class='one-button-row'>

<div class='one-button-row'>
  <label style='font-size: 90%;width:120px'>{{bahaviorTitle[0]}}
    <i class="material-icons"
    style='font-size: 18px'
    matTooltip="唯品会用户最近一次浏览唯品会时间距今时间分布">
      contact_support</i></label>
  <div class='buttons-area'>
  <button mat-stroked-button
  *ngFor = 'let button of buttons_1; let i = index'
  [ngClass]="button.selected ? 'btn-selected' : 'btn-default'"
  (click)="singleSelectButton_1(i)"
  class='buttons'
  style='padding:0px 20px;'>
      <i *ngIf = 'button.selected'  class="material-icons selected-icon" style='margin-left:-19px'>done</i>
      {{button.name}}
  </button>
</div>
</div>
</div>

<div  class='one-button-row'>

    <div class='one-button-row'>
      <label style='font-size: 90%;width:120px'>{{bahaviorTitle[1]}}
          <i class="material-icons"
    style='font-size: 18px'
    matTooltip="唯品会用户最近一次有收藏唯品会商品行为的时间距今时间分布">
      contact_support</i></label>
      <div class='buttons-area'>
      <button mat-stroked-button
      *ngFor = 'let button of buttons_2; let i = index'
      [ngClass]="button.selected ? 'btn-selected' : 'btn-default'"
      (click)="singleSelectButton_2(i)"
      class='buttons'
      style='padding:0px 20px;'>
          <i *ngIf = 'button.selected'  class="material-icons selected-icon" style='margin-left:-19px'>done</i>
          {{button.name}}
      </button>
    </div>
    </div>
    </div>

    <div class='one-button-row'>

        <div class='one-button-row'>
          <label style='font-size: 90%;width:120px'>{{bahaviorTitle[2]}}
              <i class="material-icons"
    style='font-size: 18px'
    matTooltip="唯品会用户最近一次有把唯品会商品加入购物车主动或超时被系统清除购物车的时间距今时间分布">
      contact_support</i></label>
          <div class='buttons-area'>
          <button mat-stroked-button
          *ngFor = 'let button of buttons_3; let i = index'
          [ngClass]="button.selected ? 'btn-selected' : 'btn-default'"
          (click)="singleSelectButton_3(i)"
          class='buttons'
          style='padding:0px 20px;'>
              <i *ngIf = 'button.selected'  class="material-icons selected-icon" style='margin-left:-19px'>done</i>
              {{button.name}}
          </button>
        </div>
        </div>
        </div>
        <div class='one-button-row'>

            <div class='one-button-row'>
              <label style='font-size: 90%;width:120px'>{{bahaviorTitle[3]}}
                  <i class="material-icons"
    style='font-size: 18px'
    matTooltip="唯品会用户最近一次有把唯品会商品加入购物车行为的时间距今时间分布，不论后续是否购买或者购物车放弃，不论后续有没有再次加购或购买行为">
      contact_support</i></label>
              <div class='buttons-area'>
              <button mat-stroked-button
              *ngFor = 'let button of buttons_4; let i = index'
              [ngClass]="button.selected ? 'btn-selected' : 'btn-default'"
              (click)="singleSelectButton_4(i)"
              class='buttons'
              style='padding:0px 20px;'>
                  <i *ngIf = 'button.selected'  class="material-icons selected-icon" style='margin-left:-19px'>done</i>
                  {{button.name}}
              </button>
            </div>
            </div>
            </div>
            <div class='one-button-row'>

                <div class='one-button-row'>
                  <label style='font-size: 90%;width:120px'>{{bahaviorTitle[4]}}
                      <i class="material-icons"
                      style='font-size: 18px'
                      matTooltip="唯品会用户最近一次有购买唯品会商品行为的时间距今时间分布">
                        contact_support</i>
                  </label>
                  <div class='buttons-area'>
                  <button mat-stroked-button
                  *ngFor = 'let button of buttons_5; let i = index'
                  [ngClass]="button.selected ? 'btn-selected' : 'btn-default'"
                  (click)="singleSelectButton_5(i)"
                  class='buttons'
                  style='padding:0px 20px;'>
                      <i *ngIf = 'button.selected'  class="material-icons selected-icon" style='margin-left:-19px'>done</i>
                      {{button.name}}
                  </button>
                </div>
                </div>
                </div>

