.wrapper{
  margin-left:30px;
}
.people-container {
  position: relative;
  background: none;
  height:380px;
  width:300px;
  overflow: scroll;
  border:1px solid rgb(206, 204, 204);
  border-radius: 7px;
}
.selectedPeopleContainer{
  position: relative;
  background: none;
  height:380px;
  width:300px;
  overflow: scroll;
  border:1px solid rgb(206, 204, 204);
  border-radius: 7px;
  margin-left: 30px
}
.people-select-wrap{
  display: flex;
  flex-direction: row
}
.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

mat-table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  z-index: 999;
  display: flex;
  justify-self: center;
  margin-left:100px;
  margin-top:15px;
}

mat-spinner{
  width:20px;
  height:20px;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

.mat-flat-button {
  margin: 5px;
  font-weight: 300;
}

.mat-column-peopleEstimate{
  flex: 0 0 100px;
  display: flex;
  justify-content: center;
}
.mat-column-select{
  flex: 0 0 50px;
  display: flex;
  justify-content: center;
}
mat-divider{
  width:635px;
  margin-top:-10px;
  color:rgb(66, 66, 66)
}
.detial-p{
  margin-top:40px;
}
.detial-p p{
  color:rgb(109, 108, 108);
}
.startInput{
  color:black
}
