<div class='wrapper'>

<div style='margin-top: 40px'>
  <h3 style='color:black'>人群定向</h3>
  <mat-divider></mat-divider>
</div>

<div class='detial-p'>
  <p>选择用户群</p>
</div>

<div class='people-select-wrap'>

<div class="people-container">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults" [diameter]="20"></mat-spinner>
</div>

<!---------------------用户群列表--------------------------->
<div class="mat-elevation-z0 listContent">

    <mat-table [dataSource]="data" class="example-table">

    <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    (change)='showSelectedTarget()'>
      </mat-checkbox>
      </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row) "
                    (change)='showSelectedTarget()'>
      </mat-checkbox>
    </mat-cell>
  </ng-container>

      <!-- 人群名称 Column -->
      <ng-container matColumnDef="targetName">
        <mat-header-cell *matHeaderCellDef>人群名称</mat-header-cell>
        <mat-cell *matCellDef="let row" >{{row.targetName}}</mat-cell>
      </ng-container>

      <!-- 人群覆盖 Column -->
      <ng-container matColumnDef="peopleEstimate">
        <mat-header-cell *matHeaderCellDef>人群覆盖</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.peopleEstimate}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)" style='cursor: pointer;'
      (click)='showSelectedTarget()'></mat-row>
    </mat-table>
  </div>
</div>
<!----------------------已选择框------------------------------>
<div class='selectedPeopleContainer'>
  <h3 style='color:black;font-weight: 250;margin-left: 30px'>已选择 ({{selectedLength}})</h3>
  <div class="mat-elevation-z0 SelectedListContent">

      <mat-table [dataSource]="selectedTarget" class="example-table" >

        <!-- 人群名称 Column -->
        <ng-container matColumnDef="targetName">
          <mat-header-cell *matHeaderCellDef>人群名称</mat-header-cell>
          <mat-cell *matCellDef="let row" >{{row.targetName}}</mat-cell>
        </ng-container>

        <!-- 人群覆盖 Column -->
        <ng-container matColumnDef="peopleEstimate">
          <mat-header-cell *matHeaderCellDef>人群覆盖</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.peopleEstimate}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="selectedTargetColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: selectedTargetColumns;"></mat-row>
      </mat-table>
    </div>
</div>
</div>

<div style='margin-top: 60px'>
  <h3 style='color:black'>移动定向</h3>
  <mat-divider></mat-divider>
</div>

<div class='detial-p'>
  <p>设备系统</p>
</div>
<div>
<mat-radio-group style='color:black;font-size: 17px'>
    <mat-radio-button value="all" checked='true'>不限</mat-radio-button>
    <mat-radio-button value="iOS" style='margin-left:40px'>iOS</mat-radio-button>
    <mat-radio-button value="Android" style='margin-left:40px'>Android</mat-radio-button>
</mat-radio-group>
</div>
<div style='margin-top: 60px'>
  <h3 style='color:black'>出价信息</h3>
  <mat-divider></mat-divider>
</div>

<div class='detial-p'>
  <p>出价方式</p>
</div>
<div>
    <mat-radio-group style='color:black;font-size: 17px'>
        <mat-radio-button value="CPC" checked='true'>点击(CPC)</mat-radio-button>
        <mat-radio-button value="CPM" style='margin-left:40px'>千次曝光(CPM)</mat-radio-button>
    </mat-radio-group>
</div>
<div class='detial-p'>
    <p>竞价方式</p>
  </div>
  <div>
      <mat-radio-group style='color:black;font-size: 17px'>
          <mat-radio-button value="RTB" checked='true'>实时竞价(RTB)</mat-radio-button>
          <mat-radio-button value="PDB" style='margin-left:40px'>保量交易(PDB)</mat-radio-button>
      </mat-radio-group>
  </div>
<div class='detial-p'>
  <p>广告出价</p>
</div>
<mat-form-field>
    <input matInput placeholder="请输入广告出价">
    <mat-hint align="start">建议出价高于0.5元</mat-hint>
    <span matSuffix style='color:black'>元/次点击</span>
</mat-form-field>
<div class='detial-p'>
    <p>日限额</p>
</div>
  <mat-form-field>
      <input matInput placeholder="请输入日限额">
      <span matSuffix style='color:black'>元/天</span>
  </mat-form-field>
</div>
