/* Structure */
.example-container {
  position: relative;
  margin-top: 25px;
  margin-left: 150px;
}

.example-loading-shade {
  position: absolute;
  z-index: 999;
  display: flex;
  justify-self: center;
  margin-left:100px;
  margin-top:15px;
}

.mat-raised-button,
.mat-stroked-button {
  margin: 5px;
  font-weight: 300;
}
.example-card{
  width:450px;
}
.selected-card{
  margin-top:20px;
}
.actionButtons{
  display: flex;
  justify-content: flex-end
}
.cardContent{
  margin-left: 50px;
}
