<div class="example-container">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults" [diameter]="20"></mat-spinner>
    </div>
    <div class="button-row">
      <a mat-raised-button color="primary" [routerLink]="['/targets']">返回</a>
    </div>
    <div class='selected-card'>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title><h4>{{target.targetName}}</h4></mat-card-title>
        <mat-card-subtitle>已选标签:</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      <div class='cardContent'>
          <p *ngIf='target.platform'>平台:  {{target.platform}}</p>

          <p>{{target.gender}}</p>

          <p>{{target.age}}</p>
          <p>{{target.userBtn_1}}</p>
          <p>{{target.userBtn_2}}</p>
          <p>{{target.userBtn_3}}</p>
          <p>{{target.userBtn_4}}</p>
          <p>{{target.userBtn_5}}</p>

          <p *ngIf='target.category'>一二级品类：</p>
          <p *ngFor="let item of target.category" style='margin-left:60px'>{{item}}</p>


          <p>{{target.categBtn_1}}</p>
          <p>{{target.categBtn_2}}</p>
          <p>{{target.categBtn_3}}</p>
          <p>{{target.categBtn_4}}</p>
          <p>{{target.categBtn_5}}</p>

          <p *ngIf='target.brand'>品牌名称：</p>
          <p *ngFor="let item of target.brand" style='margin-left:60px'>{{item.name}}</p>

          <p>{{target.branBtn_1}}</p>
          <p>{{target.branBtn_2}}</p>
          <p>{{target.branBtn_3}}</p>
          <p>{{target.branBtn_4}}</p>
          <p>{{target.branBtn_5}}</p>

          <p>创建时间: {{target.createTime | date:'yyyy-MM-dd'}}</p>

      </div>
      </mat-card-content>
      <mat-card-actions>
        <div class='actionButtons'>
        <a mat-stroked-button color="primary" [routerLink]="['/target-edit/', target._id]">编辑</a>
        <a mat-stroked-button (click)="deleteTarget(target._id)">删除</a>
      </div>
      </mat-card-actions>
    </mat-card>
  </div>
  </div>


