<div class="example-container">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults" [diameter]="20"></mat-spinner>
    </div>
    <div class="button-row">
      <a mat-raised-button color="primary" [routerLink]="['/targets']">返回</a>
    </div>
    <div class='selected-card'>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title><h4>{{target.targetName}}</h4></mat-card-title>
        <mat-card-subtitle>已选标签:</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      <div class='cardContent'>
          <p *ngIf='target.platform'>APP平台:  {{target.platform}}</p>

          <p *ngIf = "target.gender">性别： {{target.gender}}</p>
          <p *ngIf = "target.age">年龄： {{target.age}}</p>

          <p *ngIf = "target.userBtn_1">最后浏览时间： {{target.userBtn_1}}</p>
          <p *ngIf = "target.userBtn_2">最后收藏时间： {{target.userBtn_2}}</p>
          <p *ngIf = "target.userBtn_3">最后购物车放弃时间： {{target.userBtn_3}}</p>
          <p *ngIf = "target.userBtn_4">最后最后加入购物车时间： {{target.userBtn_4}}</p>
          <p *ngIf = "target.userBtn_5">最后购买时间： {{target.userBtn_5}}</p>

          <p *ngIf='target.category'>一二级品类：</p>
          <p *ngFor="let item of target.category" style='margin-left:60px'>{{item}}</p>

          <p *ngIf = "target.categBtn_1">品类最后浏览时间： {{target.categBtn_1}}</p>
          <p *ngIf = "target.categBtn_2">品类最后收藏时间： {{target.categBtn_2}}</p>
          <p *ngIf = "target.categBtn_3">品类最后购物车放弃时间： {{target.categBtn_3}}</p>
          <p *ngIf = "target.categBtn_4">品类最后最后加入购物车时间： {{target.categBtn_4}}</p>
          <p *ngIf = "target.categBtn_5">品类最后购买时间： {{target.categBtn_5}}</p>

          <p *ngIf='target.brand'>品牌名称：</p>
          <p *ngFor="let item of target.brand" style='margin-left:60px'>{{item}}</p>

          <p *ngIf = "target.branBtn_1">品牌最后浏览时间： {{target.branBtn_1}}</p>
          <p *ngIf = "target.branBtn_2">品牌最后收藏时间： {{target.branBtn_2}}</p>
          <p *ngIf = "target.branBtn_3">品牌最后购物车放弃时间： {{target.branBtn_3}}</p>
          <p *ngIf = "target.branBtn_4">品牌最后最后加入购物车时间： {{target.branBtn_4}}</p>
          <p *ngIf = "target.branBtn_5">品牌最后购买时间： {{target.branBtn_5}}</p>

          <p *ngIf = "target.peopleEstimate">品牌最后购买时间： {{target.peopleEstimate}}</p>
          <p>创建时间: {{target.createTime | date:'yyyy-MM-dd'}}</p>

      </div>
      </mat-card-content>
      <mat-card-actions>
        <div class='actionButtons'>
        <a mat-stroked-button color="primary" [routerLink]="['/target-edit/', target._id]">编辑</a>
        <a mat-stroked-button (click)="deleteTarget(target._id)">删除</a>
      </div>
      </mat-card-actions>
    </mat-card>
  </div>
  </div>


