.alertMessage{
  width:300px;
  margin:0 auto;
  height: 100%;
  text-align: center;
  color:white;
  font-weight: 300;
  border: 1px solid rgb(167, 31, 31);
  border-radius: 5px;
  background: rgb(202, 101, 101);
}
