<div class='wrapper'>
  <div class='title'>
      <p>
          一二级品类
       </p>
  </div>
<div class='selectArea'>


<div>
  <div *ngFor = 'let item of checkListObject | keyvalue:keepOriginalOrder; let i = index'>
    <mat-accordion >
      <!-----同一时间最多只能展开一个----->
      <mat-expansion-panel style='width:315px'
      [expanded]="step === i"
      (opened)="setStep(i)"
      class="mat-elevation-z0"
      >
          <mat-expansion-panel-header [collapsedHeight]="'36px'" [expandedHeight]="'36px'">
      <mat-checkbox
      [(ngModel)]="masterSelected[i]"
      name="shoes" value="m1"
      (change)="checkUncheckAll(item,i)"
      (click)="$event.stopPropagation()"
       >{{item.key}}</mat-checkbox>
   </mat-expansion-panel-header>
      <div>
      <mat-list>
      <mat-list-item *ngFor='let items of item.value' style='height:36px'>

      <mat-checkbox
      [(ngModel)]="items.isSelected"
      name="shoes"
      value="{{items.id}}"
      (change)="isAllSelected(item,i)"
      >{{items.name}}</mat-checkbox>

      </mat-list-item >
        </mat-list>
    </div>
  </mat-expansion-panel>
</mat-accordion>
  </div>
</div>
</div>

<div class='showSelectedArea'>
  <div style='margin:20px;color:black'>
    <p>已选</p>
    <p style='font-size:14px;padding-left: 8px;'>{{selectedItems}}</p>
  </div>
</div>
</div>

<div>
  <app-user-behavior
     [bahaviorTitle]='categoryBehavior'
     (userBtn_1)="valButton_1($event)"
     (userBtn_2)="valButton_2($event)"
     (userBtn_3)="valButton_3($event)"
     (userBtn_4)="valButton_4($event)"
     (userBtn_5)="valButton_5($event)"></app-user-behavior>
</div>
