.wrapper{
  display: flex;
  flex-direction: row;
}
.showSelectedArea{
  width:315px;
  height:384px;
  overflow: scroll;
  border: 1px solid rgb(221, 220, 220);
  border-radius: 8px;
}
.selectArea{
  width:315px;
  height:384px;
  overflow: scroll;
  border: 1px solid rgb(221, 220, 220);
  border-radius: 8px;
  font-size: 9px;
}
mat-checkbox{
  font-size: 13px;
  color:#251f3d;
  font-weight: 400;
}
.title, .selectArea, .showSelectedArea{
  margin:20px;
  
}
