<div class='wrapper'>
  <div class="front-row">
    <div class="company-name">
      <span class='company'>广州宝洁有限公司</span>
    </div>
    <div class="total-money">
      <span class='money-title'>可用余额(元)： <span class='number'>329842</span></span>
    </div>
    <div class="today-cost-money">
      <span class='money-title'>今日消耗(元)： <span class='number'>32432</span></span>
    </div>
  </div>
  <div class='divider'>
    <p>数据概览</p>
    <mat-divider></mat-divider>
  </div>
  <div class="charts">
      <div echarts [options]="chartOption" class="chart" style="width:650px;height:400px;"></div>
  </div>
</div>
