<div class='wrapper'>
  <div class='content'>

<app-gender-age-info
(ageChange)="ageSelectChange($event)"
(genderChange)="genderSelectChange($event)"></app-gender-age-info>

<div class='selectedCard'>
  <div style='position: fixed;width:360px'>
  <mat-card>
    <mat-card-header>
      <mat-card-title>已选</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <p>
        APP平台：{{selectedPlatform}}
      </p>
      <p>
        {{genderSelectedItems}}
      </p>
      <p>
        {{ageSelectedItems}}
      </p>
      <p>
        {{selectedItems}}
      </p>
    </mat-card-content>
  </mat-card>
</div>
</div>



  <div>
  <h4 style='color:black'>行为轨迹</h4>
  <mat-tab-group animationDuration="0ms">
      <mat-tab label="用户行为"> <app-user-behavior (change)="selectChange($event)"></app-user-behavior></mat-tab>
      <mat-tab label="品类行为"> <app-category-behavior></app-category-behavior> </mat-tab>
      <mat-tab label="品牌行为"> <app-brand-behavior></app-brand-behavior> </mat-tab>
    </mat-tab-group>
  </div>
  <div style='display: flex;flex-direction: column'>
    <div class='one-button-row'>
      <label style='font-size: 90%;width:100px'>APP平台</label>
      <mat-radio-group style='display: flex;flex-direction: column;padding:10px;color:black' [(ngModel)]='selectedPlatform'>
          <mat-radio-button value="iOS" checked='true' style='padding:10px;'>iOS</mat-radio-button>
          <mat-radio-button value="Android" style='padding:10px;'>Android</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class='one-button-row'>
      <label style='font-size: 90%;width:100px'>人群名称</label>
      <mat-form-field hintlabel="最多50个字" class='adTargetInput alignside'>
          <input matInput #input="" maxlength="50" placeholder="请输入人群名称" [formControl]="targetName" required="" class='targetInput'>
          <mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
          <mat-error *ngIf="targetName.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div style='margin-left:400px;margin-top:50px;'>


    <button mat-raised-button color='primary' >创建人群</button>
    <button mat-raised-button style='margin-left: 20px'>返回</button>
  </div>
  </div>
</div>
