.wrapper{
  margin:0 auto;
  width:100%;
  background: white;
  margin-top:20px;
  margin-left: 20px;
  height:100%;

}
.btn-selected{
  border:1px solid rgb(50, 156, 98);;
  background: rgb(234, 248, 242);
  color:rgb(50, 156, 98);
}
.selected-icon{
  color:rgb(50, 156, 98);
  font-size: 15px;
  padding-bottom: 5px;


}
.buttons{
  margin-left:10px;
  font-weight: 350
}
.btn-default{
  color:black
}
.one-button-row{
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  margin-top:15px;
  align-items: center
}
.content{
  padding:30px
}
.adTargetInput {
  width:500px;
}
.targetInput{
  font-size: 80%;
  color:black;
}
.selectedCard{
  display: flex;
  justify-content: flex-end;
}
