<div class="example-boundary">
  <div class='wrapper'>
    <div class='content'>

<app-gender-age-info
(ageChange)="ageSelectChange($event)"
(genderChange)="genderSelectChange($event)">
</app-gender-age-info>

<form [formGroup]="targetForm" >
<div class="box-wrap">
<div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
      <h3>已选</h3>
      <p>APP平台：{{selectedPlatform}}</p>
      <p *ngIf = "genderSelectedItems">性别： {{genderSelectedItems}}</p>
      <p *ngIf = "ageSelectedItems">年龄： {{ageSelectedItems}}</p>

      <p *ngIf = "userBtn_1">最后浏览时间： {{userBtn_1}}</p>
      <p *ngIf = "userBtn_2">最后收藏时间： {{userBtn_2}}</p>
      <p *ngIf = "userBtn_3">最后购物车放弃时间： {{userBtn_3}}</p>
      <p *ngIf = "userBtn_4">最后最后加入购物车时间： {{userBtn_4}}</p>
      <p *ngIf = "userBtn_5">最后购买时间： {{userBtn_5}}</p>

      <p *ngIf='categroItems'>一二级品类：</p>
      <p *ngFor="let item of categroItems" style='margin-left:40px'>{{item}}</p>

      <p *ngIf = "categBtn_1">品类最后浏览时间：{{categBtn_1}}</p>
      <p *ngIf = "categBtn_2">品类最后收藏时间：{{categBtn_2}}</p>
      <p *ngIf = "categBtn_3">品类最后购物车放弃时间：{{categBtn_3}}</p>
      <p *ngIf = "categBtn_4">品类最后加入购物车时间：{{categBtn_4}}</p>
      <p *ngIf = "categBtn_5">品类最后购买时间：{{categBtn_5}}</p>

      <p *ngIf='brandItems'>品牌名称：</p>
      <p *ngFor="let item of brandItems" style='margin-left:40px'>{{item}}</p>

      <p *ngIf = "branBtn_1">品牌最后浏览时间：{{branBtn_1}}</p>
      <p *ngIf = "branBtn_2">品牌最后收藏时间：{{branBtn_2}}</p>
      <p *ngIf = "branBtn_3">品牌最后购物车放弃时间：{{branBtn_3}}</p>
      <p *ngIf = "branBtn_4">品牌最后加入购物车时间：{{branBtn_4}}</p>
      <p *ngIf = "branBtn_5">品牌最后购买时间：{{branBtn_5}}</p>
      <p class='people-header'>预计人群覆盖用户</p>
      <div class="people-Estimate">

      <p>{{peopleEstimate}} 人</p>
      <button mat-stroked-button (click)="estimatePeopel()" color='primary'>开始预估</button>
     </div>
</div>
</div>

  <div>
  <h4 style='color:black'>行为轨迹</h4>
  <mat-tab-group animationDuration="0ms">
      <mat-tab label="用户行为"> <app-user-behavior
                               (userBtn_1)="valUserBtn_1($event)"
                               (userBtn_2)="valUserBtn_2($event)"
                               (userBtn_3)="valUserBtn_3($event)"
                               (userBtn_4)="valUserBtn_4($event)"
                               (userBtn_5)="valUserBtn_5($event)">
                              </app-user-behavior></mat-tab>
      <mat-tab label="品类行为"> <app-category-behavior
                               (category_button_1)="showCategoryBtn_1($event)"
                               (category_button_2)="showCategoryBtn_2($event)"
                               (category_button_3)="showCategoryBtn_3($event)"
                               (category_button_4)="showCategoryBtn_4($event)"
                               (category_button_5)="showCategoryBtn_5($event)">
                              </app-category-behavior> </mat-tab>
     <mat-tab label="品牌行为"> <app-brand-behavior
                               (brand_button_1)='showBrandBtn_1($event)'
                               (brand_button_2)='showBrandBtn_2($event)'
                               (brand_button_3)='showBrandBtn_3($event)'
                               (brand_button_4)='showBrandBtn_4($event)'
                               (brand_button_5)='showBrandBtn_5($event)'>
                              </app-brand-behavior> </mat-tab>
    </mat-tab-group>
  </div>


  <div style='display: flex;flex-direction: column'>
    <div class='one-button-row'>
      <label style='font-size: 90%;width:100px'>APP平台</label>
      <mat-radio-group style='display: flex;flex-direction: column;padding:10px;color:black' [(ngModel)]='selectedPlatform' formControlName="platform">
          <mat-radio-button value="iOS" checked='true' style='padding:10px;'>iOS</mat-radio-button>
          <mat-radio-button value="Android" style='padding:10px;'>Android</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class='one-button-row'>
      <label style='font-size: 90%;width:100px'>人群名称</label>
      <mat-form-field hintlabel="最多50个字" class='adTargetInput alignside'>
          <input matInput #input="" maxlength="50" placeholder="请输入人群名称" formControlName="targetName" required="" class='targetInput'>
          <mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
          <mat-error *ngIf="targetName.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div style='margin-left:400px;margin-top:50px;'>
    <button mat-raised-button color='primary' type='submit' (click)="onFormSubmit(targetForm.value)" >创建人群</button>
    <button mat-raised-button style='margin-left: 20px'>返回</button>
  </div>
</form>
  </div>
</div>
</div>
