.wrapper{
  margin:0 auto;
  width:100%;
  background: white;
  margin-top:20px;
  margin-left: 20px;
  height:100%;
}
.btn-selected{
  border:1px solid rgb(50, 156, 98);;
  background: rgb(234, 248, 242);
  color:rgb(50, 156, 98);
}
.selected-icon{
  color:rgb(50, 156, 98);
  font-size: 15px;
  padding-bottom: 5px;
}
.buttons{
  margin-left:10px;
  font-weight: 350
}
.btn-default{
  color:black
}
.one-button-row{
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  margin-top:15px;
  align-items: center
}
.content{
  padding:30px;
  height:100%;
}
.adTargetInput {
  width:500px;
}
.targetInput{
  font-size: 80%;
  color:black;
}
.example-box {
  width: 330px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  background: #fff;
  border-radius: 4px;
  margin-left: 0px;
  position: absolute;
  z-index: 10;
  box-sizing: border-box;
  padding: 0px 10px 10px 30px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.example-boundary {
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.box-wrap{
  display: flex;
  justify-content: flex-end;
}
.example-box p{
  margin: 8px;
  font-size: 85%;
}
.example-box h3{
  color:rgb(29, 116, 68)
}
.people-Estimate{
  display: flex;
  flex-direction: row;
}
.people-Estimate p{
  margin-left: 25px;
}
.people-Estimate button{
  font-size: 75%;
  color:rgb(29, 116, 68)
}
