<p>
    新建广告
</p>
<p>
    投放站点
</p>
<div class='alignSite'>
<mat-form-field>
    <mat-select placeholder="投放站点" [(value)]='adPuttingSite'>
      <mat-option value = 'true'>
        唯品会App
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
  <p>
      资源位
    </p>
<app-ad-position-list></app-ad-position-list>

<p>
  落地页类型
</p>
<div class='alignSite'>
<mat-form-field>
    <mat-select placeholder="请选择落地页类型" [(value)]='selectedAdSite'>
      <mat-option *ngFor="let adSite of adSites" [value] = "adSite.id">
        {{adSite.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<p>
  档期ID
</p>
<div class='alignSite'>
<form class="example-form">
    <mat-form-field class="example-full-width" class='item-id'>
      <input matInput placeholder="档期ID" value="" [formControl]="itemId" required="" >
      <mat-error *ngIf="itemId.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
</form>
</div>
